<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>jQuery百叶窗效果插件blindify - 站长素材</title>
    <link rel="stylesheet" href="/views/css/blindify.min.css" media="all" />
    <link rel="stylesheet" href="/views/css/demo.css" media="all" />
	<script src="/views/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/views/js/jquery.blindify.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#blindify').blindify();
        });
    </script>
</head>
<body>
    <article class="container">

        <section id="blindify">
            <ul>
                <li><img src="/views/image/130.jpg" alt="" /></li>
                <li><img src="/views/image/5.jpg" alt="" /></li>
                <li><img src="/views/image/132.jpg" alt="" /></li>
                <li><img src="/views/image/133.jpg" alt="" /></li>
				<li><img src="/views/image/2.jpg" alt="" /></li>
            </ul>
        </section>
        
    </article>
</div>
</body>
</html>